<h1>My Tickets</h1>

<table>
  <tr>
    <td>
      Ticket ID
    </td>
    <td>
      Name
    </td>
    <td>
      Status
    </td>
    <td>
      Description
    </td>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr class="clickable" onclick="document.location = '<%= root_url + "tickets/#{ticket.id}" %>'">
      <td>
        <%= ticket.id %>
      </td>
      <td>
        <%= ticket.name %>
      </td>
      <td>
        <%= ticket.status.name %>
      </td>
      <td>
        <%= ticket.description %>
      </td>
    </tr>
  <% end %>
</table>
