<h1>Ticket #<%= @ticket.id %></h1>

<p>
  <%= link_to 'Update', new_ticket_ticket_update_path(@ticket) %>
</p>
<table>
  <tr>
    <td>
      Ticket ID
    </td>
    <td>
      <%= @ticket.id %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @ticket.name %>
    </td>
  </tr>
  <tr>
    <td>
      Owner
    </td>
    <td>
      <%= @ticket.get_current_owner.email %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= @ticket.get_current_status.name %>
    </td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td>
      <%= @ticket.description %>
    </td>
  </tr>
</table>

<% @ticket.ticket_updates.each do |tu| %>
  <div>
    <h3>Revision #<%= tu.revision %></h3>
    On <%= tu.created_at %>, <%= tu.updater.first_name + ", " + tu.updater.last_name %> spent <%= tu.time_logged %> hrs making the following change:
  </div>

  <p>
    <%= tu.description %>
  </p>
<% end %>
