
<%= form_for [@ticket, @ticket_update] do |f| %>
  <h2>Add an update to ticket #<%= @ticket.id %></h2>

  <% if @ticket_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_update.errors.count, "error") %> prohibited this ticket_update from being saved:</h2>

      <ul>
      <% @ticket_update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=field>
    <%= f.label 'New Status' %><br/>
    <%= f.select :sid, options_for_select(Status.all.map { |x| [x.name, x.id] } ) %>
  </div>

  <div class=field>
    <%= f.label 'New Owner' %><br/>
    <%= f.select :oid, options_for_select(User.all.map { |x| [x.email, x.id] } ) %>
  </div>

  <div class=field>
    <%= f.label :description %><br/>
    <%= f.text_field :description %><br/>
  </div>

  <div class=field>
    <%= f.label :time_logged %>
    <%= f.number_field :time_logged %>
  </div>

  <div class=field>
    <%= f.submit "Update!" %>
  </div>
<% end %>
